@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-wrapper{
    width:80% ;
    max-width: 1444px;
    margin: 0 auto;
    padding: 0 20px;
}
nav{
    padding: 2em;
    background-color: #fff;
    font-size: 20px;
    font-family: Roboto;

}
main{
    background-color: #eee;
    padding: 2em;
}
label {
    display: block;
}
input {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.75em 0.5em;
    min-width: 200px;
    border: none;
}
table {
     width: 100%;
     border-collapse: collapse; 
}
thead {
    background-color: #000000;
    color: #fff;

}
.table th {
    padding: 15px;

}
.table td {
    padding: 10px;
    border: 1px solid #aaaa;
}
table tbody{
    font-size: 18px;
    border: 1px solid #aaaa;
}